{
  "extends": "standard",
  "plugins": ["simple-import-sort", "json-format"],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "no-unused-vars": ["error", { "varsIgnorePattern": "state" }]
  },
  "ignorePatterns": [
    "**/libraries_built/*.js",
    "**/package-lock.json"
  ]
}
